:root {
	--black: #555;
	--primary-color: #fff080;
	--primary-color-tint: #fffbdc;
	--secondary-color-dark: #0082b5;
	--secondary-color: #00b5ed;
	--secondary-color-tint: #bde8f8;
	--accent-color: #ff7878;
	
	--font-family: 'Poppins', sans-serif;
	--form-field-size: 3.125rem;
}