@import 'reset';
@import 'variables';

* { box-sizing: border-box; }

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 1;
	color: var(--black);
}

#app {
	display: grid;
	grid-template-rows: repeat(3, auto);
	max-width: 23.125rem;
	margin: 1rem 0;
}

.form-container {
	display: grid;
	gap: 1.5rem;
	width: 100%;
	max-width: 23.125rem;
	padding: 2rem;
	padding-bottom: 0;
	border-radius: 0.125rem;
	background-color: var(--secondary-color-tint);
}

.input {
	&-control {
		padding: 0 2rem;
		height: var(--form-field-size);
		width: 100%;
		border: 0;
	}

	&-label {
		display: inline-block;
		margin-bottom: 0.5rem;
		font-weight: 500;
		color: var(--secondary-color-dark);
	}
}

.button-circle {
	justify-self: end;
	height: var(--form-field-size);
	width: var(--form-field-size);
	margin-bottom: -1.875rem;
	padding: 0;
	border: 0;
	color: var(--secondary-color-dark);
	border-radius: var(--form-field-size);
	background-color: var(--primary-color);
}

.stroke {
	fill: none;
	stroke: currentColor;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}